name: TikTok Viral Bot (Pro API)

on:
  schedule:
    - cron: '0 8 * * *' # Tous les matins à 8h
  workflow_dispatch: # Bouton manuel

jobs:
  run-bot:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' # Version plus récente (supprime le warning)
          cache: 'pip'

      - name: Install Python libraries
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Viral Bot
        env:
          # C'est ici qu'on injecte les clés dans le script
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
          # LA LIGNE QUI MANQUAIT :
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        run: python main.py
