name: TikTok Viral Bot

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Optimisation : On installe FFmpeg seulement s'il n'est pas déjà là (Linux le gère vite)
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      # --- C'EST ICI QUE ÇA CHANGE ---
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip' # <--- LA LIGNE MAGIQUE !
          # Cela dit à GitHub de garder en mémoire les bibliothèques téléchargées

      - name: Install Python libraries
        # Plus besoin de --upgrade pip à chaque fois si c'est déjà en cache
        run: |
          pip install -r requirements.txt

      - name: Run Viral Bot
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }} 
        run: python main.py
